.btn-primary {
  color: white;
  text-decoration: none;
  padding: 15px;
  margin: 10px;
  background-color: #4444ee;
  transition: all 1.5s; }
  .btn-primary:hover {
    background-color: white;
    color: black; }

.btn-secondary {
  color: white;
  text-decoration: none;
  padding: 15px;
  margin: 10px;
  background-color: orange;
  transition: all 1.5s; }
  .btn-secondary:hover {
    background-color: white;
    color: black; }

body {
  width: 100%;
  background-color: #4c159e; }

.container {
  margin-left: 10%;
  margin-right: 10%; }

nav {
  display: flex;
  justify-content: space-between; }

li {
  display: inline-block;
  padding: 0 10px; }

li a {
  text-decoration: none;
  color: white; }

ul {
  list-style-type: none; }

.showcase-content {
  display: flex;
  justify-content: center;
  align-items: center; }

.my-1 {
  margin-bottom: 30px; }
