.btn-primary{
    color: $bianco;
    text-decoration: $no;
    padding: 15px;
    margin: 10px;
    background-color: rgb(68, 68, 238);
    transition: all 1.5s;
    &:hover{
        background-color: $bianco;
        color: black;
    }
}

.btn-secondary{
    color: $bianco;
    text-decoration: $no;
    padding: 15px;
    margin: 10px;
    background-color: orange;
    transition: all 1.5s;
    &:hover{
        background-color: $bianco;
        color: black;
    }
}