
.btn-primary{
    color: $bianco;
    text-decoration: $no;
    padding: 15px;
    margin: 10px;
    background-color: rgb(68, 68, 238);
}

.btn-primary:hover{
    background-color: $bianco;
    color: black;
    transition: all 1.5s;
}

.btn-secondary{
    color: $bianco;
    text-decoration: $no;
    padding: 15px;
    margin: 10px;
    background-color: orange;
}

.btn-secondary:hover{
    background-color: $bianco;
    color: black;
    transition: all 1.5s;
}